<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Gym Workshop</title>
  <link rel="stylesheet" href="stylesheets/gymshopcss.css">
</head>

<body>
  <header>
    <nav>
      <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/booking">Booking</a></li>
          <li><a href="/viewbookings">Current bookings</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/help">Help</a></li>
        </ul>
    </nav>
  </header>
  <main>
    <div style="color: rgb(29, 176, 26);">
          <h1> Welcome to Cyber Sec Workshop! </h1>
        </div>
          <div style="display: flex; align-items: center;"> 
            <img src="/images/nmap.png" height="200" width="200" alt="nmap">
            <div>
                <ul class="custom-list">
                    <li>
                        <span class="custom-bullet">&bull;</span>
                        Nmap, a hacking swiss army knife, is a versatile network scanning tool that uncovers vulnerabilities.
                        <br>
                        It maps network landscapes, aids in penetration testing, and reveals secrets hidden within the digital realm.
                    </li>
                </ul>
            </div>
        </div>

         <div style="display: flex; align-items: center;"> 
            <img src="/images/metasploit.png" height="200" width="200" alt="metasploit">
            <div>
                <ul class="custom-list">
                    <li>
                        <span class="custom-bullet">&bull;</span>
                        Metasploit, the arsenal of digital warriors, wields the power of exploit development and penetration testing, unleashing a world of vulnerabilities.
                    </li>
                </ul>
            </div>
        </div>

        <div style="display: flex; align-items: center;"> 
          <img src="/images/sqlmap.png" height="200" width="200" alt="sqlmap">
          <div>
              <ul class="custom-list">
                  <li>
                      <span class="custom-bullet">&bull;</span>
                      SQLMap, the silent infiltrator, probes the depths of databases, mastering the art of SQL injection and revealing the hidden treasures of data
                  </li>
              </ul>
          </div>
      </div>
  </main>
</body>

</html>