<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>Gym Workshop</title>
      <link rel="stylesheet" href="/stylesheets/gymshopcss.css">
   </head>
   <header>
      <nav>
         <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/booking">Booking</a></li>
            <li><a href="/viewbookings">Current bookings</a></li>
            <li><a href="About">About</a></li>
            <li><a href="Help">Help</a></li>
         </ul>
      </nav>
   </header>
   <main>
      <div class="booking2">
         <h2>Successful booking</h2>
        <div class="Booking"></div>
      </div>
   </main>
   <footer>
      <p>Copyright &copy; Serverside Web Dev</p>
      <p><a href = "mailto:stanimir.vasilev@mycit.ie">Contact</a></p>
      <p><a href="tel:+0838176077">Phone Number</a></p>
   </footer>
   </body>
</html>